<mat-dialog-content>
    <mat-toolbar>
        <span>Patient Dialog</span>
    </mat-toolbar>
    <br>
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="First Name" [(ngModel)]="patient.firstName">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Last Name" [(ngModel)]="patient.lastName">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="DNI" [(ngModel)]="patient.dni">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Address" [(ngModel)]="patient.address">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Phone" [(ngModel)]="patient.phone">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="patient.email">
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" (click)="operate()">Done</button>
    <button mat-raised-button color="accent" (click)="close()">Cancel</button>
</mat-dialog-content>