<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{username}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/myaccount.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <br>
        <h1>My Roles: {{roles}}.</h1> 
        <!-- <mat-list role="list" *ngFor="let r of roles">
            <mat-list-item role="listitem">{{r}}</mat-list-item>
        </mat-list> -->
    </mat-card-content>
  </mat-card>
  